.background { 
    /* The image used */
    background: url("stockvault-cafe-by-the-beach151324.jpg");
      
    /* Full height */
    height: 100%; 
      
    /* Center and scale the image nicely */
    position: relative;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    opacity: .65;
}
