.background { 
    background: url("/Images/webvilla-293-unsplash\ \(1\).jpg");
    height: 100%; 
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    position: relative;
}

.jumbotron {
    position: absolute;
    left: 0;
    top: 50%;
    width: 100%;
    text-align: center; 
    background-color: rgb(235, 243, 239);
    opacity: .80;
    color: #000000;
}

body, html {
    height: 100%;
    margin: 0;
}